In [2]:
import numpy as np
import pandas as pd

In [3]:
military_gdp_raw=pd.read_excel('Military expenditure (% of GDP).xls',header = 3,index_col = 0)
health_gdp_raw=pd.read_excel('Current health expenditure (% of GDP).xls',header = 3,index_col=0)
education_gdp_raw=pd.read_excel('Government expenditure on education, total (% of GDP).xls',header = 3,index_col=0)
gdp_raw=pd.read_excel('GDP (current US$).xls',header=3,index_col = 0)
population_raw=pd.read_excel('population.xls',header=3,index_col = 0)

In [4]:
military_gdp_raw.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,AFG,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.087413,1.945837,1.821346,1.175417,1.076950,1.298013,0.993455,0.955493,0.943963,0.984561
Angola,AGO,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.704389,4.177585,3.255660,3.236659,4.455239,4.698455,3.105426,2.733341,2.421113,1.777138
Albania,ALB,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.517217,1.558592,1.528266,1.487083,1.408982,1.346516,1.162304,1.101508,1.107551,1.178901
Andorra,AND,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#health_gdp_raw.head()

In [6]:
#education_gdp_raw.head()

In [7]:
#gdp_raw.head()

In [8]:
import warnings
warnings.filterwarnings('ignore')

In [9]:
military_gdp = military_gdp_raw.ix[['United States','China','Russian Federation','United Kingdom','Germany','France', 'Italy','Mexico', 'Argentina','South Africa', 'Australia','Indonesia'],['2012','2013','2014','2015','2016']]
health_gdp = health_gdp_raw.ix[['United States','China','Russian Federation','United Kingdom','Germany','France', 'Italy','Mexico', 'Argentina','South Africa', 'Australia','Indonesia'],['2012','2013','2014','2015','2016']]
education_gdp = education_gdp_raw.ix[['United States','China','Russian Federation','United Kingdom','Germany','France', 'Italy','Mexico', 'Argentina','South Africa', 'Australia','Indonesia'],['2012','2013','2014','2015','2016']].fillna(0)
gdp = gdp_raw.ix[['United States','China','Russian Federation','United Kingdom','Germany','France', 'Italy','Mexico', 'Argentina','South Africa', 'Australia','Indonesia'],['2012','2013','2014','2015','2016']]
population = population_raw.ix[['United States','China','Russian Federation','United Kingdom','Germany','France', 'Italy','Mexico', 'Argentina','South Africa', 'Australia','Indonesia'],['2012','2013','2014','2015','2016']]

In [10]:
#military_gdp

In [11]:
#health_gdp

In [12]:
#education_gdp

In [13]:
gdp

,2012,2013,2014,2015,2016
Country Name,,,,,
United States,1.619701e+13,1.678485e+13,1.752175e+13,1.821930e+13,1.870719e+13
China,8.532231e+12,9.570406e+12,1.043853e+13,1.101554e+13,1.113795e+13
Russian Federation,2.210257e+12,2.297128e+12,2.059984e+12,1.363594e+12,1.282724e+12
United Kingdom,2.676605e+12,2.753565e+12,3.034729e+12,2.896421e+12,2.659239e+12
Germany,3.543984e+12,3.752514e+12,3.898727e+12,3.381389e+12,3.495163e+12
France,2.683825e+12,2.811078e+12,2.852166e+12,2.438208e+12,2.471286e+12
Italy,2.072823e+12,2.130491e+12,2.151733e+12,1.832273e+12,1.869202e+12
Mexico,1.201090e+12,1.274443e+12,1.314564e+12,1.170565e+12,1.077828e+12
Argentina,5.459824e+11,5.520251e+11,5.263197e+11,5.947493e+11,5.575314e+11
South Africa,3.963294e+11,3.666449e+11,3.506376e+11,3.174156e+11,2.963409e+11
Australia,1.546152e+12,1.576184e+12,1.467484e+12,1.351520e+12,1.210028e+12
Indonesia,9.178699e+11,9.125241e+11,8.908148e+11,8.608542e+11,9.318774e+11

In [14]:
#population

In [31]:
military = military_gdp*gdp/100
military.round(2)
health = health_gdp*gdp/100
education = education_gdp*gdp/100

In [32]:
military

,2012,2013,2014,2015,2016
Country Name,,,,,
United States,6.847800e+11,6.397040e+11,6.099140e+11,5.961047e+11,6.001064e+11
China,1.566903e+11,1.786741e+11,1.989425e+11,2.100759e+11,2.143996e+11
Russian Federation,8.146938e+10,8.835289e+10,8.454550e+10,6.630830e+10,6.993932e+10
United Kingdom,5.849566e+10,5.686180e+10,5.914102e+10,5.386219e+10,4.815297e+10
Germany,4.647089e+10,4.593053e+10,4.610267e+10,3.981439e+10,4.158909e+10
France,6.003518e+10,6.241708e+10,6.361357e+10,5.534465e+10,5.751481e+10
Italy,2.978102e+10,2.995744e+10,2.770103e+10,2.218185e+10,2.503994e+10
Mexico,6.978777e+09,7.837614e+09,8.664559e+09,7.745738e+09,6.027539e+09
Argentina,4.285005e+09,4.624516e+09,4.621618e+09,5.056134e+09,4.533511e+09
South Africa,4.489592e+09,4.118428e+09,3.890107e+09,3.488976e+09,3.187234e+09
Australia,2.597407e+10,2.599968e+10,2.614021e+10,2.646886e+10,2.532407e+10
Indonesia,6.531099e+09,8.383997e+09,6.929249e+09,7.635529e+09,7.368306e+09

In [33]:
health

,2012,2013,2014,2015,2016
Country Name,,,,,
United States,2.650863e+12,2.741106e+12,2.891983e+12,3.063695e+12,3.193956e+12
China,3.881652e+11,4.507683e+11,4.982547e+11,5.385193e+11,5.548792e+11
Russian Federation,1.090098e+11,1.164817e+11,1.065216e+11,7.195692e+10,6.761401e+10
United Kingdom,2.232066e+11,2.690879e+11,2.950948e+11,2.836388e+11,2.596042e+11
Germany,3.815912e+11,4.095907e+11,4.271984e+11,3.746264e+11,3.893320e+11
France,3.038331e+11,3.216433e+11,3.307088e+11,2.804271e+11,2.851689e+11
Italy,1.856433e+11,1.907273e+11,1.939021e+11,1.646374e+11,1.670224e+11
Mexico,6.801757e+10,7.404964e+10,7.279043e+10,6.616930e+10,5.894642e+10
Argentina,4.589464e+10,4.624892e+10,4.335413e+10,5.200080e+10,4.208461e+10
South Africa,3.072564e+10,2.830851e+10,2.780609e+10,2.602107e+10,2.403270e+10
Australia,1.343507e+11,1.382887e+11,1.328759e+11,1.260977e+11,1.119529e+11
Indonesia,2.664454e+10,2.701665e+10,2.776777e+10,2.587178e+10,2.911642e+10

In [34]:
education

,2012,2013,2014,2015,2016
Country Name,,,,,
United States,0.000000e+00,8.276693e+11,8.693835e+11,0.000000e+00,0.000000e+00
China,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Russian Federation,8.376277e+10,8.628495e+10,8.250813e+10,5.227203e+10,4.801505e+10
United Kingdom,0.000000e+00,1.538755e+11,1.719171e+11,1.624715e+11,1.459116e+11
Germany,1.748357e+11,1.851854e+11,1.918509e+11,1.624818e+11,1.678003e+11
France,1.464408e+11,1.546171e+11,1.572131e+11,1.332295e+11,1.342548e+11
Italy,8.465223e+10,8.872900e+10,8.768849e+10,7.478771e+10,7.157977e+10
Mexico,6.129282e+10,5.984848e+10,6.915421e+10,6.128187e+10,5.292189e+10
Argentina,2.918729e+10,3.001145e+10,2.821831e+10,3.435337e+10,3.106665e+10
South Africa,2.525268e+10,2.204834e+10,2.120173e+10,1.890588e+10,1.760440e+10
Australia,7.541587e+10,8.256070e+10,7.592291e+10,7.192452e+10,6.389325e+10
Indonesia,3.127623e+10,3.065205e+10,2.929008e+10,3.084957e+10,0.000000e+00

In [35]:
mean_military_raw = np.mean(military, axis=1)
mean_health_raw = np.mean(health,axis=1)
mean_education_raw = np.mean(education,axis=1)
mean_gdp_raw = np.mean(education,axis=1)

mean_military= pd.DataFrame(mean_military_raw)
mean_health= pd.DataFrame(mean_health_raw)
mean_education= pd.DataFrame(mean_education_raw)
mean_gdp= pd.DataFrame(mean_education_raw)

mean_military.columns = ['military']
mean_health.columns = ['health']
mean_education.columns = ['eductaion']
mean_gdp.columns = ['gdp']

In [36]:
mean_health

                          health
Country Name
United States       2.908321e+12
China               4.861173e+11
Russian Federation  9.431680e+10
United Kingdom      2.661265e+11
Germany             3.964678e+11
France              3.043562e+11
Italy               1.803865e+11
Mexico              6.799467e+10
Argentina           4.591662e+10
South Africa        2.737880e+10
Australia           1.287132e+11
Indonesia           2.728343e+10

In [37]:
summary_mean = [mean_military,mean_health,mean_education,mean_gdp]
mean_spending = pd.concat(summary_mean,axis=1)
mean_spending

                        military        health     eductaion
Country Name
United States       6.261218e+11  2.908321e+12  3.394106e+11
China               1.917565e+11  4.861173e+11  0.000000e+00
Russian Federation  7.812308e+10  9.431680e+10  7.056859e+10
United Kingdom      5.530273e+10  2.661265e+11  1.268352e+11
Germany             4.398152e+10  3.964678e+11  1.764308e+11
France              5.978506e+10  3.043562e+11  1.451511e+11
Italy               2.693226e+10  1.803865e+11  8.148744e+10
Mexico              7.450845e+09  6.799467e+10  6.089986e+10
Argentina           4.624157e+09  4.591662e+10  3.056742e+10
South Africa        3.834867e+09  2.737880e+10  2.100260e+10
Australia           2.598138e+10  1.287132e+11  7.394345e+10
Indonesia           7.369636e+09  2.728343e+10  2.441359e+10

In [38]:
military_pp = military/population
health_pp = health/population
education_pp = education/population
gdp_pp = gdp/population
military_pp

,2012,2013,2014,2015,2016
Country Name,,,,,
United States,2181.701984,2024.009842,1915.640692,1858.513770,1857.504360
China,116.007168,131.631596,145.823415,153.203658,155.512445
Russian Federation,568.913591,615.669935,587.857737,460.164719,484.537616
United Kingdom,918.294855,886.689071,915.309203,827.009480,734.088824
Germany,577.810621,569.535432,569.291770,487.404090,505.036601
France,914.336875,945.732210,959.247695,831.083540,860.230539
Italy,500.187521,497.351405,455.690490,365.250157,413.012886
Mexico,59.508224,65.958098,71.991608,63.563505,48.871923
Argentina,102.675984,109.578059,108.311977,117.224744,104.002588
South Africa,84.975425,76.708629,71.317924,62.993401,56.708670
Australia,1142.547878,1124.158557,1113.501569,1111.390148,1046.842657
Indonesia,26.287120,33.295407,27.159784,29.551174,28.171236

In [23]:
#health_pp

In [24]:
#education_pp

In [25]:
#gdp_pp

In [26]:
military_2012= military.ix[:,['2012']]
military_2012.columns = ['military2012']
health_2012 = health.ix[:,['2012']]
health_2012.columns = ['health2012']
education_2012 = education.ix[:,['2012']]
education_2012.columns = ['education2012']

summary_2012 = [military_2012,health_2012,education_2012]
spending_2012 = pd.concat(summary_2012,axis=1)
spending_2012

                    military2012    health2012  education2012
Country Name
United States       6.847800e+11  2.650863e+06       0.000000
China               1.566903e+11  3.881652e+05       0.000000
Russian Federation  8.146938e+10  1.090098e+05   83762.771732
United Kingdom      5.849566e+10  2.232066e+05       0.000000
Germany             4.647089e+10  3.815912e+05  174835.712588
France              6.003518e+10  3.038331e+05  146440.776347
Italy               2.978102e+10  1.856433e+05   84652.232193
Mexico              6.978777e+09  6.801757e+04   61292.823127
Argentina           4.285005e+09  4.589464e+04   29187.289635
South Africa        4.489592e+09  3.072564e+04   25252.681927
Australia           2.597407e+10  1.343507e+05   75415.872486
Indonesia           6.531099e+09  2.664454e+04   31276.233613

In [27]:
military_2016= military.ix[:,['2016']]
military_2016.columns = ['military2016']
health_2016 = health.ix[:,['2016']]
health_2016.columns = ['health2016']
education_2016 = education.ix[:,['2016']]
education_2016.columns = ['education2016']

summary_2016 = [military_2016,health_2016,education_2016]
spending_2016 = pd.concat(summary_2016,axis=1)
spending_2016

                    military2016    health2016  education2016
Country Name
United States       6.001064e+11  3.193956e+06       0.000000
China               2.143996e+11  5.548792e+05       0.000000
Russian Federation  6.993932e+10  6.761401e+04   48015.048589
United Kingdom      4.815297e+10  2.596042e+05  145911.642409
Germany             4.158909e+10  3.893320e+05  167800.322117
France              5.751481e+10  2.851689e+05  134254.814762
Italy               2.503994e+10  1.670224e+05   71579.770744
Mexico              6.027539e+09  5.894642e+04   52921.890981
Argentina           4.533511e+09  4.208461e+04   31066.651839
South Africa        3.187234e+09  2.403270e+04   17604.400583
Australia           2.532407e+10  1.119529e+05   63893.249996
Indonesia           7.368306e+09  2.911642e+04       0.000000

In [41]:
with pd.ExcelWriter('Total value.xlsx') as writer: 
    military.to_excel(writer, sheet_name='military spending')
    health.to_excel(writer, sheet_name='health spending')
    education.to_excel(writer, sheet_name='education spending')
    mean_spending.to_excel(writer, sheet_name='mean_spending')
    gdp.to_excel(writer, sheet_name='gdp')

In [42]:
with pd.ExcelWriter('Value of per person.xlsx') as writer: 
    military_pp.to_excel(writer, sheet_name='military spending per person')
    health_pp.to_excel(writer, sheet_name='health spending per person')
    education_pp.to_excel(writer, sheet_name='education spending per person')
    gdp_pp.to_excel(writer, sheet_name='gdp per person')

In [30]:
#with pd.ExcelWriter('Spending by year.xlsx') as writer: 
    #spending_2016.to_excel(writer, sheet_name='2016 spending')
    #spending_2012.to_excel(writer, sheet_name='2012 spending')
    #mean_spending.to_excel(writer, sheet_name='mean_spending')

In [ ]:
with pd.ExcelWriter('cleaned data.xlsx') as writer: 
    military.to_excel(writer, sheet_name='military spending')
    health.to_excel(writer, sheet_name='health spending')
    education.to_excel(writer, sheet_name='education spending')
    mean_spending.to_excel(writer, sheet_name='mean_spending')
    gdp.to_excel(writer, sheet_name='gdp')
    military_pp.to_excel(writer, sheet_name='military spending per person')
    health_pp.to_excel(writer, sheet_name='health spending per person')
    education_pp.to_excel(writer, sheet_name='education spending per person')
    gdp_pp.to_excel(writer, sheet_name='gdp per person')